[submodule "zshmodules/opp.zsh"]
	path = zshmodules/opp.zsh
	url = https://github.com/hchbaw/opp.zsh
[submodule "zshmodules/zsh-history-substring-search"]
	path = zshmodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zshmodules/zsh-syntax-highlighting"]
	path = zshmodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "richie"]
	path = richie
	url = git@github.com:akhilsbehl/richie.git
[submodule "zellij-pane-switcher"]
	path = zellij-pane-switcher
	url = git@github.com:akhilsbehl/zellij-pane-switcher.git
[submodule "pi/extensions/pie-zellij-status"]
	path = pi/extensions/pie-zellij-status
	url = git@github.com:akhilsbehl/pie-zellij-status.git
