layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }

    swap_floating_layout{
        floating_panes max_panes=1 {
            pane x="5%" y="5%" width="90%" height="90%"
        }
        floating_panes max_panes=2 {
            pane x="5%" y="4%" width="90%" height="45%"
            pane x="5%" y="51%" width="90%" height="45%"
        }
    }
}
